h1 {
    color: black;
}

.sign-in-page-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: fit-content; 
    padding: 4rem;
    gap: 1rem;
    margin: auto;
    border-radius: 1rem;
}

input { 
    width: 16rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(0, 0, 0, 1);
}
